**/*.gz
**/*.h5ad
**/*.csv
**/*.mtx
**/*.tsv
**/*.html
**/*.png
**/*.log*
**/*.jpg
**/*.pdf
**/*.loom
**/*.txt
**/*.gtf
**/*.fa
**/*.bt2
**/*.ebwt
**/*.fa.*
**/*.tab
**/*.xml
STAR_idx
STAR_index_gencode
**/*.zip
**/*.old
**/*.dict
**/*.RData
**/*.zip.*
images
.ipynb_checkpoints
.nextflow
Homo_sapiens
**/*.h5
**/*.json
**/*.bus
**/*.ec
**/*.txt.gz.1
**/*.ods
**/*.xlsx
**/*.Rdata